// spinner
.beat-loader {
  margin-top: 30px;
  text-align: center;
}

// spinner ends

.homepage-container {
  color: $dark-grey;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  margin-left: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: 1r;
  grid-template-rows: auto;
}

// top part
.homepage-top-part {
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
}

.homepage-text {
  margin-left: 5%;
  margin-bottom: 20px;
  margin-top: 30px;
}

#homepage-title {
  font-weight: 500;
  font-size: 28px;
}

#homepage-description {
  margin-top: 7px;
  font-weight: 300;
}

.homepage-item-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 32.5% [col-start]);
  justify-content: space-between;
}

.item-text-container {
  margin-top: 20px;
}

.item-text-container div {
  margin-top: 10px;
  margin-bottom: 10px;
}

#city-name {
  font-weight: 500;
  font-size: 18px;
}

#description {
  font-size: 15px;
  font-weight: 300;
}
