// spinner
.beat-loader {
  margin-top: 30px;
  text-align: center;
}

// spinner ends

.homepage-container {
  color: $dark-grey;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  // max-width: 1440px;
  // min-width: 1000px;
  margin-left: 50px;
  margin: auto;
  // display: grid;
  // grid-template-columns: 90%;
  // grid-template-rows: auto;
}

// top part
.homepage-top-part {
  height: 500px;
  // max-width: 1440px;
  margin: auto;
  margin-bottom: 25px;
}

.homepage-text {
  margin-left: 85px;
  margin-bottom: 20px;
  margin-top: 30px;
}

#homepage-title {
  font-weight: 500;
  font-size: 28px;
}

#homepage-description {
  margin-top: 7px;
  font-weight: 300;
}

.homepage-item-container {
  // display: flex;
  width: 90%;
  margin: auto;
  display: grid;
  // grid-template-columns: 400px 400px 400px;
  // grid-column-gap: 10px;
  // justify-content: space-around;
  grid-template-columns: repeat(auto-fit, 32.5% [col-start]);
  // grid-column-gap: 10px;
  justify-content: space-between;
}

.item-text-container {
  margin-top: 20px;
}

.item-text-container div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.homepage-detail-container {
}

#city-name {
  font-weight: 500;
  font-size: 18px;
}

#description {
  font-size: 15px;
  font-weight: 300;
}
