.index-container {
  width: 90%;
  margin: auto;
  color: $dark-grey;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-rows: 50px auto;
}

.index-title {
  font-weight: 500;
  font-size: 25px;
  color: $dark-grey;
  // margin-top: 20px;
  // margin-bottom: 10px;
  // margin-left: 10px;
}


.listings-container {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  display: grid;
  // grid-template-columns: repeat(auto-fit, 230px [col-start]);
  grid-template-columns: repeat(auto-fit, 19% [col-start]);
  grid-column-gap: 15px;
  justify-content: space-between;
  // grid-gap: 2%;
  // grid-template-columns: repeat(5, 18%);
  margin-bottom: 30px;
}


.listing-details-container img {
  height: 180px;
}

.listing-details-text div {
  margin-top: 10px;
  margin-bottom: 10px;
}

#listing-city{
  color: $airbnb-blue;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
}



#listing-name {
  font-weight: 500;
  // font-family: Noto Sans;
  
}

#listing-price {
  font-size: 13px;
  font-weight: 300;
}

// .listing-details-container button {
//   font-size: 17px;
//   background-color: black;
//   color: white;
//   opacity: 0.5;
//   height: 20px;
//   font-weight: 700;
//   font-family: Arial, Helvetica, sans-serif;

//   -moz-transition: all 0.5s;
//   -webkit-transition: all 0.5s;
//   transition: all 0.5s;
// }

// .listing-details-container button:hover {
//   transform: 1.5;
//   transform: scale(1.5);
// }

// .listing-details-container img:hover {
//   background-color: white;
// }