// whole page
.search-index-container {
  height: 100%;
}

// result and map
.search-results-and-map {
  display: flex;
  margin-top: 25px;
  margin-left:50px;
  height: 100vh;
}

// reuslt
.search-results-section {
  width: 64%
}

.search-results-section h3 {
  margin: 0;
  font-size: 40px;
}

.search-results-section p {
  margin-top: 15px;
  font-size: 18px;
}

.search-result-ul {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30% [col-start]);
  column-gap: 20px;
}

// map
.map-container {
  height: 100%;
}

#search-map {
  height: 80%;
  width: 500px;
  z-index: 1;
  position: sticky; //not working?
  top: 0px;
}
