.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.logout-modal-screen {
  position: fixed;
  background: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

[class*="session-form"] {
  background-color: white;
  position: absolute;
  left: 35%;
  top: 20%;
  width: 450px;
  padding: 20px;
  z-index: 10;
}

.session-input-container {
  margin-left: 10px;
}

[class*="session-form"] input {
  font-weight: 400;
  font-size: 15px;
  padding: 7px;
  width: 94%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

[class*="session-form"] input:focus {
  border: 1px solid $airbnb-blue;
}


.session-button {
  background-color: $airbnb-orange;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 93%;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 17px;
}

#demo-login {
  background-color: $airbnb-blue;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 93%;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 17px;
}

.session-button:last-child {
  margin-bottom: 25px;
}

.divide-line {
  border-bottom: 1px solid $lightest-grey;
}

.session-option-button {
  color: $airbnb-blue;
  font-weight: bold;
  display: inline;
}

.session-option {
  padding: 20px;
  text-align: center;
}

.close-x {
  color: grey;
  font-size: 20px; 
  margin-bottom: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.errors-ul {
  margin: 10px;
  color: $airbnb-orange;
  margin-bottom: 25px;
}

// logout

.logout-modal {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 81px;
  width: 180px;
  background-color: white;
  text-align: center;
  padding-top: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  z-index: 4;
}

.logout-modal p {
  border-bottom: 1px solid $lightest-grey;
  height: 40px;
}

.logout-modal p:hover {
  border-bottom: 1px solid $dark-grey;
  height: 40px;
}

#logout-parent {
  position: fixed;
  right: 0px;
}